.appointment_container {
    padding-top: 120px;
    height: 300px;
    width: 90%;
    margin: 0 auto;
    z-index: 100;
}
.appointment_first_card {
    background-color: #b9f7f9;
    padding: 80px 30px 20px 30px;
    height: 400px;
    margin-top: 20px;
    border-radius: 8px;
}
.appointment_second_card {
    background-color: #d4fdfe;
    padding: 100px 30px 20px 30px;
    height: 430px;
    border-radius: 8px;
}
.btn {
    background-color: white;
    border-radius: 30px;
    border: 0;
    padding: 13px 28px;
    margin-top: 30px;
}
.appointment_icon {
    color: #0078aa;
}

.btn:hover {
    background-color: transparent;
    border: 1.5px solid #0078aa;
    transition: 0.5s ease;
}

@media screen and (max-width: 768px) {
    .appointment_container {
        width: 80%;
    }
    .appointment_first_card {
        padding: 80px 30px 20px 80px;
    }
    .appointment_second_card {
        margin-bottom: -20px;
    }
    .appointment_second_card {
        padding: 100px 30px 20px 80px;
    }
}
@media screen and (max-width: 400px) {
    .appointment_first_card {
        padding: 80px 30px 20px 40px;
    }
    .appointment_second_card {
        padding: 100px 30px 20px 40px;
    }
}
