.count_container {
    height: auto;
    width: 100%;
    background-color: #f4f4f4;
    margin-top: -104px;
    text-align: center;
    padding-bottom: 80px;
}
.number_count {
    margin-top: 80px;
    height: 40px !important;
    font-size: 50px;
    color: #505050;
    font-weight: 700;
}

.line_out {
    width: 100%;
    display: flex;
    justify-content: center;
}
.line {
    width: 20px;
    height: 2px;
    background-color: #02D3FF;
    margin-top: 40px;
}
.item_container {
    width: 100%;
    margin: 0 auto;
}


@media screen and (max-width: 768px) {
    .count_container {
        margin-top: 320px;
        width: 100%;
    }
}
@media screen and (max-width: 450px) {
    .count_container {
        margin-top: 140px;
        width: 100%;
    }
}