.doctors_container {
    height: 600px;
}
.doctors {
    max-width: 450px;
    margin-left: 180px;
    margin-top: 100px;
}
.doctor_img {
    position: absolute;
    right: 0;
}
.doctors_btn {
    margin-top: 40px;
    border: 0;
    background-color: #89d6f3;
    padding: 15px 40px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
.doctors_btn:hover {
    background-color: transparent;
    border: 2px solid #89d6f3;
    color: #363636;
    /* transition: .2s; */
    position: absolute;
}

@media screen and (max-width: 1262px) {
    .doctors_container {
        margin-top: 10px;
    }
    .doctor_img {
        position: unset;
    }
}

@media screen and (max-width: 1100px) {
    .doctors {
        margin-left: 100px;
    }
    .doctor_img {
        position: unset;
        margin-top: 80px;
    }
}
@media screen and (max-width: 820px) {
    .doctors {
        margin-left: 60px;
    }
    .doctor_img {
        position: unset;
        margin-top: 80px;
    }
}

@media screen and (max-width: 768px) {
    .doctors_container {
        margin-top: 300px;
    }
    .doctors {
        width: 85%;
        margin: 0 auto;
    }
    .doctor_img {
        position: absolute;
        right: 0;
    }
}
