.mainContainer {
    background-image: url('/Images/OnlineDoctor-amico.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 750px;
    object-fit: cover;
    position: absolute;
    top: 0;
}
/* #02D3FF */

.banner_title {
    margin-top: 15rem;
    margin-left: 5rem;
    /* font-size: 3rem; */
}

.AppBtn {
    background-color: #89d6f3;
    border-radius: 30px;
    border: 0;
    padding: 13px 28px;
    margin-top: 30px;
}

.TopLine {
    font-size: 4rem;
    font-weight: 800;
    font-style: normal;
}
/* .HealthColor {
    color: #5ccc9d;
} */
@media screen and (max-width: 768px) {
    .mainContainer {
        background-image: none;
        display: block;
        background-color: #89d6f3;
    }
    .AppBtn {
        background-color: aliceblue;
        position: center;
    }
}
