.about_container {
    padding-top: 1160px;
    width: 95%;
    margin: 0 auto;
}

.drop_down {
    width: 70%;
    margin-top: 40px;
}

.accordion_btn {
    background-color: #f4f4f4;
    color: #505050;
    border-radius: 8px !important;
    height: 70px;
    margin-top: 5px;
}

.accordion_btn:not(.collapsed) {
    box-shadow: unset !important;
    border-bottom: none !important;
}

.accordion_btn:focus {
    box-shadow: unset;
    background-color: #02d3ff;
    color: white;
}

@media screen and (max-width: 768px) {
    .about_container {
        margin-top: 800px;
    }
    .about_detail {
        width: 83%;
        margin: 0 auto;
    }
    .drop_down {
        width: 100%;
        margin-top: 40px;
    }
}
