



@media screen and (max-width: 768px) {
    .sideBar {
        padding-bottom: 10px;
    }
    .menuIcon:focus {
        box-shadow: unset;
        border-color: unset !important;
        color: unset;
    }
    .signOut2{
        background-color: #02D6FF;
        color: black;
        width: 110px;
        height: 35px;
        text-align: center;
        margin-left: 10px;
    }
}

@media screen and (max-width: 768px) {
    .signOut {
        display: none;
    }
}