.mainContainer {
    height: 500px;
    margin-top: 400px;
}
.services {
    background-image: url('/Images/service_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    padding-bottom: 120px;
    margin-top: -250px;
}
.serviceItem {
    background-color: white;
    padding: 20px 40px;
    height: auto;
    border-radius: 10px;
}
.itemContainer {
    width: 95%;
    height: auto;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .item {
        text-align: center;
        margin-top: 20px;
    }
}
